/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Inter",sans-serif;

    background:var(--background);
    color:var(--text);

    min-height:100vh;

}

/* ==========================
   HEADER
========================== */

header{

    max-width:1400px;

    margin:auto;

    padding:40px 30px;

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.logo h1{

    font-size:2rem;
    font-weight:700;
    margin-bottom:8px;

}

.logo p{

    color:var(--text-secondary);
    font-size:.95rem;

}

/* ==========================
   BOTÃO
========================== */

#novaTarefa{

    background:var(--primary);

    color:white;

    border:none;

    padding:14px 24px;

    border-radius:12px;

    cursor:pointer;

    font-size:15px;
    font-weight:600;

    transition:.25s;

}

#novaTarefa:hover{

    background:var(--primary-hover);

    transform:translateY(-2px);

}

/* ==========================
   BOARD
========================== */

.kanban{

    max-width:1400px;

    margin:auto;

    padding:0 30px 40px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:var(--gap);

}

/* ==========================
   COLUNAS
========================== */

.coluna{

    background:var(--surface);

    border:1px solid var(--border);

    border-radius:var(--radius);

    padding:18px;

    min-height:600px;

    box-shadow:var(--shadow);

}

/* ==========================
   CABEÇALHO DA COLUNA
========================== */

.titulo-coluna{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.titulo-coluna h2{

    font-size:18px;

}

.titulo-coluna span{

    width:30px;
    height:30px;

    border-radius:50%;

    background:rgba(255,255,255,.08);

    display:flex;

    align-items:center;
    justify-content:center;

    color:var(--text-secondary);

    font-size:14px;

}

/* =======================
   ÁREA DOS CARDS
========================== */

.cards{

    min-height: 200px;

    display: flex;

    flex-direction: column;

    gap: 16px;

}

.cards.drag-over{

    background: rgba(180,0,255,.08);

    border:2px dashed var(--primary);

    border-radius:12px;

    transform:scale(1.02);

    transition:.2s;

}

/* ==========================
   CARDS
========================== */

.card{

    background:#273549;

    border:1px solid rgba(255,255,255,.06);

    border-radius:14px;

    padding:18px;

    transition:
        transform .25s,
        opacity .25s,
        box-shadow .25s;

    cursor:grab;

}

.card:active{

    cursor:grabbing;

}

.arrastando{

    opacity:.5;

    transform:rotate(4deg) scale(.95);

}


.card:hover{

    transform:translateY(-5px);

    border-color:var(--primary);

    box-shadow:0 15px 35px rgba(0,0,0,.35);

}

.card h3{

    margin-bottom:10px;

    font-size:17px;

}

.card p{

    color:var(--text-secondary);

    line-height:1.5;

    font-size:14px;

    margin-bottom:18px;

}

.card-footer{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.prioridade{

    padding:6px 12px;

    border-radius:999px;

    font-size:12px;

    font-weight:600;

}

/* Prioridades */

.alta .prioridade{

    background:rgba(239,68,68,.15);

    color:#F87171;

}

.media .prioridade{

    background:rgba(245,158,11,.15);

    color:#FBBF24;

}

.baixa .prioridade{

    background:rgba(34,197,94,.15);

    color:#4ADE80;

}

.card small{

    color:var(--text-secondary);

}

/* ==========================
   MODAL
========================== */

.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.6);

    display:flex;

    justify-content:center;

    align-items:center;

    backdrop-filter:blur(6px);

}

.modal{

    width:500px;

    background:var(--surface);

    border-radius:20px;

    padding:30px;

    box-shadow:var(--shadow);

}

.modal h2{

    margin-bottom:25px;

}

.modal form{

    display:flex;

    flex-direction:column;

    gap:12px;

}

.modal input,
.modal textarea,
.modal select{

    background:#273549;

    color:white;

    border:1px solid var(--border);

    border-radius:10px;

    padding:14px;

    outline:none;

    transition:.25s;

}

.modal input:focus,
.modal textarea:focus,
.modal select:focus{

    border-color:var(--primary);

}

.acoes-modal{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:15px;

}

.cancelar{

    background:transparent;

    color:white;

    border:1px solid var(--border);

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}

.salvar{

    background:var(--primary);

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:10px;

    cursor:pointer;

}

.salvar:hover{

    background:var(--primary-hover);

}

/* ==========================
   UTILITÁRIOS
========================== */

.hidden{

    display:none;

}

.lixeira{

    position: fixed;

    bottom: 30px;

    right: 30px;

    width: 180px;

    height: 180px;

    border-radius: 50%;

    background: #1f2937;

    border: 3px dashed #ef4444;

    color: white;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 10px;

    font-size: 40px;

    opacity: 0;

    transform: scale(.7);

    pointer-events: none;

    transition: .3s;

    z-index: 999;

}

.lixeira span{

    font-size:14px;

    text-align:center;

    padding:0 20px;

}

.lixeira.ativa{

    opacity:1;

    transform:scale(1);

    pointer-events:auto;

}

.lixeira.hover{

    transform:scale(1.15);

    background:#ef4444;

}